/* src/components/Header.css */
.header {
    background-color: #3f51b5;
    color: white;
    padding: 20px;
    text-align: center;
    
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    align-items: flex-start;
     /* Space between logo and title */
  }
  
  h1 {
    font-size: 24px;
    margin: 0;
  }
  